<div ng-controller="AddPostController as addPostController" >
	<form id="postform" class="comment-form" action="" method="POST">
	
		<div class = "post-form-title-section" id="post-form-title-section">
			<p class="post-form-title">
				<label for="url">Title</label>
				<input id="title" ng-model="title" type="text" value="" size="30" maxlength="200">
			</p>
			
			<p class = "post-form-title-picture">
				<input type="file" id = "title_picture" value="Upload" onchange="angular.element(this).scope().readURL(this,300,100)" />
				<img id="blah" src="assets/img/default.png" alt="assets/mg/default.png" style = "width:300px;height:100px"/>
			</p>
		</div>
		
		<div class = "post-form-description" id="post-form-description">
			<p class = "post-form-pargraph">
				<label> Description </label>
				<textarea id="paragraph" ng-model="paragraph" cols="45" rows="16" maxlength="65525" aria-required = "true" required="required"> </textarea>

			</p>
			
			<p class = "post-form-image">
				<input type="file" value="Upload" id="paragraph-picture" onchange="angular.element(this).scope().readURL(this,300,200)" />
				<img id="blah" src="assets/img/default.png" alt="assets/mg/default.png" style = "width:300px;height:200px"/>
			</p>
		</div>
		
		<p class="form-add-paragraph">
			<input name="submit" type="button" id="submit" class="submit" ng-click = "addParagraph()" value="Add Paragraph"> 
		</p>
		
		<p class = "post-form-category">
			<label>
				Category<span class="required">*</span>
			</label>
			<input id="category" ng-model="category" type="text" value="" size="30" maxlength="245" aria-required="true" required="required"></p>
		</p>
		<p class="post-form-tag">
			<label >
				Tag<span class="required">*</span>
			 </label>
			<input id="tag" ng-model="tag" type="text" value="" size="30" maxlength="100" aria-required="true" required="required">
		</p>
		
		<div class="post-form-author">
			<p class="post-form-by">
				<label">Author Name</label>
				<input id="author" ng-model="author" type="text" value="" size="30" maxlength="200">
			</p>
			<p class = "post-form-thumbnail">
				<input type="file" value="Upload" id="author_picture" onchange="angular.element(this).scope().readURL(this,300,100)" />
				<img id="blah" src="assets/img/default.png" alt="assets/mg/default.png" style = "width:300px;height:100px"/>
			</p>
		</div>
			
		<p class="post-form-bio">
			<label>Author Details</label>
			<input id="author-bio" ng-model="author_bio" type="text" value="" size="30" maxlength="200">
		</p>
			
		
		<p class="form-submit">
			<input name="submit" type="button" id="submit" class="submit" ng-click = "savePosts()" value="Post Comment"> 
		</p>
 	
	</form>
</div>	

