<div class ="article" ng-controller="BlogPostInfoController as blogPostInfoController" ng-init='article=posts[currentArticle]'>
	
	<h1 class="post-title" style="color:black"> {{article.title}}</h1>
	<p class = "post-by">
		BY
		<span class = "author"><strong> {{article.by}}</strong></span> 
		<span class = "published-date" ng-init='date=convertJSONDateToJavascriptDate(article.date_created)'> {{date}}</span> 
	</p>	
	<div class = "post-body" ng-repeat="paragraph in article.descriptions">
		<img ng-show = "{{ paragraph.urls === null ? false:true}}" ng-src="{{paragraph.urls[0].url}}" class="img-responsive" alt="">
		<p>{{paragraph.description}} </p>
	</div>
	<p class = "post-tags" ng-init = 'getuniquePosts(posts[currentArticle].category)'>
		Tags:
		<a href ng-click = 'displayHomeByCategoryAndTag(tag)' id = "tag" ng-repeat="tag in uniquePosts" style="color:black">{{tag.tag}}</a>
	</p>
	
	<div class = "author-bio">
		<div class = "bio-avatar">
			<img ng-src="{{article.thumbnail}}" class="img-rounded img-responsive" alt="Smiley face"> </img>
		</div>
		<p class = "bio-name">{{article.by}}</p>
		<p class = "bio-description"> {{article.bio}}</p>
	</div>

		
	<ul class = "post-nav group" >
		<li class = "next">
			<a href ng-click ='updateNextArticleIndex()'> 
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
				<strong> Next Story </strong>
				<span> {{posts[n_article_index].title}}</span>
			</a>
		</li>
		<li class = "previous"> 
			<a href ng-click ='updatePreviousArticleIndex()'> 
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
				<strong> Previous Story </strong>
				<span> {{posts[p_article_index].title}}</span>
			</a>
		</li>
	</ul>
	
	
	
	

	<!--<h3 class = "heading">
		<i class = "fa fa-hand-o-right" aria-hidden="true"> </i>
		You may also like
	</h3>	
	<ul class = "related-posts">
		<li class="related post-hover"> 
			<article class="post">
				<div class="post-thumpnail">
					<a href="">
						<img src="assets/img/IMG_6493.jpg" class="img-responsive" alt="Smiley face">	
					</a>
				</div>
				<div class="related-inner"> 
					<p class="post-title"> Five local people of Kerala who caught my interest</p>
					<p class = "published-date"> 20 AUGUEST, 2012</p> 
				</div>
			</article>
		</li>
		<li class="related post-hover"> 
			<article class="post">
				<div class="post-thumpnail">
					<a href="">
						<img src="assets/img/IMG_7349.jpg" class="img-responsive" alt="Smiley face">	
					</a>
				</div>
				<div class="related-inner"> 
					<p class="post-title"> My first impressions of Kerala and my first day in Kerala</p>
					<p class = "published-date"> 20 AUGUEST, 2012</p> 
				</div>
			</article>
		</li>
		<li class="related post-hover"> 
			<article class="post">
				<div class="post-thumpnail"> 
					<a href="">
						<img src="assets/img/Puri_Ratha_Yatra_in_Odisha.jpg" class="img-responsive" alt="Smiley face">	
					</a>			
				</div>
				<div class="related-inner"> 
					<p class="post-title"> Sunday Photo Story – Puri Rath Yatra</p>
					<p class = "published-date"> 20 AUGUEST, 2012</p> 
				</div>
			</article>
		</li>		
	</ul>
	-->
	<section id="comments">
		<h3 class="heading">2 Responses</h3>

		<ul class="comment-tabs group">
			<li><a href="#commentlist-container"><i class="fa fa-comments-o"></i>Comments<span>2</span></a></li>
			<li><a href="#pinglist-container"><i class="fa fa-share"></i>Pingbacks<span>0</span></a></li>
		</ul>
		<div id="commentlist-container" class="comment-tab" style="display: block;">
			<ol class="commentlist">
				<li class="comment even thread-even depth-1 parent" id="comment-14085">
					<div id="div-comment-14085" class="comment-body">
						<div class="comment-author vcard">
							<img alt="" src="" srcset="" class="avatar avatar-96 photo" height="96" width="96" originals="96" scale="2"> 
							<cite class="fn">Deepa</cite>
							<span class="says">says:</span> </div>
						</div>
						<div class="comment-meta commentmetadata"><a href="">
							<p>Good photo…sai,</p>
							-<div class="reply">
								<a rel="nofollow" class="comment-reply-link" href="" onclick="" aria-label="Reply to Deepa">Reply</a>
							</div>
						</div>
					</div>
				</li>
			</ol>
			
			<ul class="children">
				<li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-14090">
					<div id="div-comment-14090" class="comment-body">
						<div class="comment-author">
							<img alt="" src="" srcset="" class="avatar avatar-96 photo" height="96" width="96" originals="96" scale="2">
							<cite class="fn"><a href="" rel="external nofollow" class="url">Sai Karthik Reddy Mekala</a></cite>
							<span class="says">says:</span> 
						</div>
						<div class="comment-meta commentmetadata">
							<p>Thanks Deepa/</p>
							<div class="reply">
								<a rel="nofollow" class="comment-reply-link" href="" onclick="" aria-label="Reply to Sai Karthik Reddy Mekala">Reply</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		<div id="respond" class="comment-respond">
			<h3 id ="reply-title" class="reply-title"> Leave a reply </h3> 
		</div>
		<form id="commentform" class="comment-form" action="" method="POST">
			<p class = "comment-form-comment">
				<label for="comment"> Comment </label>
				<textarea id="comment" name="comment" ng-model="comment" cols="45" rows="8" maxlength="65525" aria-required = "true" required="required"> </textarea>
			</p>
			
			<p class = "comment-form-author">
				<label for="author">
					Name<span class="required">*</span>
				</label>
				<input id="author" name="author" ng-model="author" type="text" value="" size="30" maxlength="245" aria-required="true" required="required"></p>
			</p>
			<p class="comment-form-email">
				<label for="email">
					Email<span class="required">*</span>
				 </label>
				<input id="email" name="email" ng-model="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required="true" required="required">
			</p>
			<p class="comment-form-url">
				<label for="url">Website</label>
				<input id="url" name="url" ng-model="url" type="text" value="" size="30" maxlength="200">
			</p>
			<p class="form-submit">
				<input name="submit" type="button" id="submit" class="submit" ng-click = "updateComments(article)" value="Post Comment"> 
			</p>

			<p class="comment-subscription-form">
				<input type="checkbox" name="subscribe_comments" ng-model="subscribe_comments" id="subscribe_comments" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;"> 
					<label class="subscribe-label" id="subscribe-label" for="subscribe_comments">Notify me of follow-up comments by email.</label>
			</p>
			<p class="comment-subscription-form">
				<input type="checkbox" name="subscribe_blog" id="subscribe_blog" ng-model="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;">
					<label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label>
			</p> 	
		</form>
	</section>
	
</div>